/* Custom container */
/* line 2, ../sass/mods/_style.scss */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

/* line 6, ../sass/mods/_style.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 9, ../sass/mods/_style.scss */
.navbar .nav {
  float: right;
}

/* posts index */
/* line 13, ../sass/mods/_style.scss */
.post > h3.title {
  position: relative;
  padding-top: 10px;
}

/* line 17, ../sass/mods/_style.scss */
.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

/* line 22, ../sass/mods/_style.scss */
.post > .more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
/* line 27, ../sass/mods/_style.scss */
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
/* line 32, ../sass/mods/_style.scss */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

/* line 37, ../sass/mods/_style.scss */
.tag_box li {
  line-height: 28px;
}

/* line 40, ../sass/mods/_style.scss */
.tag_box li i {
  opacity: 0.9;
}

/* line 43, ../sass/mods/_style.scss */
.tag_box.inline li {
  float: left;
}

/* line 46, ../sass/mods/_style.scss */
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

/* line 55, ../sass/mods/_style.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 59, ../sass/mods/_style.scss */
.tag_box a:hover {
  background-color: #e5e5e5;
}

/* line 62, ../sass/mods/_style.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

/* line 1, ../sass/mods/_index.scss */
body {
  padding-top: 65px;
}

/* line 5, ../sass/mods/_index.scss */
li {
  margin-bottom: 10px;
}

/* line 9, ../sass/mods/_index.scss */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 10;
}
/* line 16, ../sass/mods/_index.scss */
.navbar .navbar-inner {
  background: rgba(0, 0, 0, 0.9);
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
/* line 22, ../sass/mods/_index.scss */
.navbar .brand {
  line-height: 1em;
  font-size: 2em;
  color: #e5e5e5;
  text-shadow: 0 1px 0 #000;
}
/* line 27, ../sass/mods/_index.scss */
.navbar .brand small {
  display: inline-block;
  font-size: 12px;
}
/* line 32, ../sass/mods/_index.scss */
.navbar .nav {
  padding: 15px 0;
}
/* line 34, ../sass/mods/_index.scss */
.navbar .nav li {
  margin: 0 10px;
}
/* line 37, ../sass/mods/_index.scss */
.navbar .nav a {
  border-radius: .8em;
}
/* line 41, ../sass/mods/_index.scss */
.navbar .nav > li > a {
  padding: 2px 5px;
  color: #e5e5e5;
  text-shadow: 0 1px 0 #000;
}
/* line 45, ../sass/mods/_index.scss */
.navbar .nav > li > a:hover {
  text-shadow: 0 1px 0 #FFF;
  background: #e5e5e5;
}

/* line 53, ../sass/mods/_index.scss */
.pagination p {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
/* line 58, ../sass/mods/_index.scss */
.pagination .pages {
  margin: 0 10px;
  vertical-align: middle;
}

/* line 64, ../sass/mods/_index.scss */
.container-narrow {
  max-width: 980px;
}

/* line 68, ../sass/mods/_index.scss */
.list-blog {
  position: relative;
}
/* line 70, ../sass/mods/_index.scss */
.list-blog:after {
  content: '';
  display: table;
  clear: both;
}
/* line 75, ../sass/mods/_index.scss */
.list-blog a {
  color: #999;
}
/* line 78, ../sass/mods/_index.scss */
.list-blog p {
  margin: 0;
}
/* line 81, ../sass/mods/_index.scss */
.list-blog .posts {
  float: left;
  display: none;
  width: 230px;
  margin: 0 20px 20px 0;
  background: #f6f6f6;
  color: #999;
}
/* line 89, ../sass/mods/_index.scss */
.list-blog .posts:hover a {
  color: #e5e5e5;
}
/* line 92, ../sass/mods/_index.scss */
.list-blog .posts:hover .richtext {
  display: block;
}
/* line 95, ../sass/mods/_index.scss */
.list-blog .posts:hover .content {
  background: #000;
  color: #e5e5e5;
}
/* line 101, ../sass/mods/_index.scss */
.list-blog .cover {
  position: relative;
  cursor: pointer;
}
/* line 105, ../sass/mods/_index.scss */
.list-blog .richtext {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #e5e5e5;
  overflow: hidden;
}
/* line 117, ../sass/mods/_index.scss */
.list-blog .content {
  padding: 10px;
}
/* line 122, ../sass/mods/_index.scss */
.list-blog .title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.2em;
}

/* line 129, ../sass/mods/_index.scss */
footer {
  text-align: center;
}
